/* Navbar */

.navbar-brand {
    font-family: Viga;
    font-size: 22px;
    color: antiquewhite;
}


/* Utility */

.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;
}
.bg-navbar {
    background-color: #183566;
}

/* DESKTOP VERSION */

@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        font-size: small;
    }
    .nav-item:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #ffffff;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .navbar-brand,
    .nav-link {
        color: #ffffff !important;
    }
    .dropdown-item:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #000000;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    /* Hover Navbar */
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
    /* End Hover */
    
}
.footer-top h5{
    color: white;
    font-size: 13px;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:60px;
	right:30px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.whatasapp{
    text-decoration: none;
}
.my-float{
	margin-top:16px;
}

.imgs img{
    width: 50px;
}

.footer-top h6{
    color: white;
}

.services img:hover {
    -webkit-filter: none;
    filter: none;
    transform: scale(1.1);
}
.servicess .card {
    transition: all 0.4s ease-in-out;
}
.servicess img {
    transition: all 0.4s ease-in-out;
}
.servicess img:hover {
    opacity: 50%;
    color: #999;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .card:hover .middle  {
    opacity: 1;
  }
  .text {
    background-color: #96acf1;
    color: white;
    font-size: 35px;
    margin-bottom: 150px;
    align-items: center;
    padding: 20px 28px;
  }


  .image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .color-button{
      background-color: #7f96db;
      color:white;
  }

  .icon-show{
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
  }
  .icon-show i {
      font-size: 20px;
      margin-top: 10px;
  }
  .margin {
      margin-top:80px;
      margin-bottom: 50px;
  }